<div class="d-flex align-items-center justify-content-between">
<h1>Twitter Accounts</h1>
  <% if @twitter_accounts.none? %>
   <%= link_to'Connect your Twitter Accounts', '/auth/twitter', method: :post, class: 'btn btn-warning' %>
  <% end %>
</div>
<% @twitter_accounts.each do |twitter_account| %>
 <div class='d-flex align-items-center justify-content-between mb-4'>
   <div class="me-4">
     <%= image_tag twitter_account.image, class: 'rounded-circle' %>
     <%= link_to twitter_account.username, 'http://twitter.com/#{twitter_account.username}', target: :_blank %>
   </div>
    <%= button_to 'Disconnected', twitter_account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'%>
 </div>
<% end %>
